$Background-Body: #E1D4C9;
$Background-Container: #665F55;
$Border-Dark: #665F55;
$Border-Light: #C1B6AD;
$Text-Accent: #B0907A;
$Text-Dark: #403F3D;
$Text-Light: #E1D4C9;

$desktop: 1440px;
$tablet: 1000px;
$mobile: 380px;

// $tablet: 1000px;
// $mobile: 500px;

html {
    scroll-behavior: smooth;
    @media (max-width: $desktop) {
        scroll-behavior: smooth;
    }
    @media (max-width: 768px) {
        scroll-behavior: smooth;
    }
    @media (max-width: 380px) {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    transition: .3s;
}

body {
    background: $Background-Body;
    padding: 1.25rem 2.5rem 2.5rem;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;

    // @media (max-width: $tablet) {
    //     padding: 0 1.88rem;
    // }

    // @media (max-width: $mobile) {
    //     padding: 0 0.625rem;
    // }
}

header {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 150%;

    &__logo {
        width: 6.25rem;
        height: 3.75rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.82rem;
        padding-top: 0.4rem;
    }

    &__circle {
        position: absolute;
        z-index: -1;
        margin-bottom: 1rem;
    }

    &__item {
        display: flex;
        gap: 0.5rem;
        border-bottom: 0.125rem solid transparent;
        padding-bottom: 0.1rem;

        @media (max-width: $tablet) {
            display: none;
        }

        &:hover {
            border-bottom: 0.125rem solid $Text-Dark;
        }

        p {
            color: $Text-Dark;
        }
    }
}

.nav {

    @media (max-width: $tablet) {
        display: none;
    }

    &__list {
        gap: 2.5rem;
        display: flex;
    }

    &__link {
        color: $Text-Dark;
        border-bottom: 0.125rem solid transparent;
        padding-bottom: 0.2rem;

        &:hover {
            border-bottom: 0.125rem solid $Text-Dark;
        }
    }

}

.burger {
    display: none;

    @media (max-width: $tablet) {
        display: grid;
        width: 2.75rem;
        height: 2.75rem;
        justify-content: center;
        padding: 0.88rem;
        gap: 0.5rem;
        align-items: center;
        border-radius: 6.25rem;
        border: 1px solid $Border-Dark;

        &:hover {
            background: $Background-Container;

            .burger__line {
                stroke: $Text-Light;
            }
        }
    
        &__line {
            stroke: $Text-Dark;
        }
    }
}


.hero {
    background: url(../assets/img/img-hero.jpg) 50% / cover no-repeat;
    height: 40.25rem;
    padding: 6.25rem;
    border-radius: 2.5rem;

    @media (max-width: $tablet) {
        padding: 6.25rem 3.75rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        width: 33.125rem;
        color: $Text-Light;
    }

    &__title {
        font-size: 4.5rem;
        line-height: 105%;
    }

    &__about {
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__btn {
        display: flex;
        width: 12.5rem;
        padding: 1.25rem 4.875rem;
        justify-content: center;
        border-radius: 6.25rem;
        background: #E1D4C9;
        color: $Text-Dark;
        font-size: 1rem;
        border-color: transparent;

        @media (max-width: $tablet) {
            gap: 0.5rem;
            padding: 1.25rem 3.8rem;
        }

        &:hover {
            gap: 0.5rem;
            padding: 1.25rem 3.8rem;

            @media (max-width: $tablet) {
                padding: 1.25rem 4.875rem;
            }
        }
    }
}

.italic {
    font-style: italic;
    color: $Text-Accent;
}

main {
    padding: 6.25rem 0;
    display: flex;
    gap: 6.25rem;
    flex-direction: column;
}

.favorite-coffee {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    color: $Text-Dark;

    &__title {
        font-size: 3.75rem;
        line-height: 125%;

        @media (max-width: $tablet) {
            text-align: center;
        }
    }

    &__controls {
        display: flex;
        gap: 0.75rem;
    }
}

.control {
    &_active {
        width: 2.5rem;
        height: 0.25rem;
        border-radius: 6.25rem;
        background: $Border-Dark;
    }

    &_inactive {
        width: 2.5rem;
        height: 0.25rem;
        border-radius: 6.25rem;
        background: $Border-Light;
    }
}

.slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__btn {
        display: flex;
        width: 3.75rem;
        height: 3.75rem;
        justify-content: center;
        align-items: center;
        border-radius: 6.25rem;
        border: 1px solid $Border-Dark;
        background: transparent;
        color: $Text-Dark;
        cursor: pointer;

        &:hover {
            background: $Background-Container;

            .slider__btn-img {
                stroke: $Text-Light;
            }
        }
    }

    .slider__btn-img {
        stroke: $Text-Dark;
    }

    &__contant {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        max-width: 29rem;
    }

    &__img {
        background: url(../assets/img/coffee-slider-1.png) 50% / cover no-repeat;
        width: 100%;
        min-height: 30rem;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    &__title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 125%;
    }

    &__about {
        color: $Text-Dark;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__price {
        text-align: center;
        font-size: 1.5rem;
        line-height: 125%;
    }
}

.about {
    display: grid;
    gap: 2.5rem;

    @media (max-width: $tablet) {
        margin-bottom: -0.3rem;
    }

    &__title {
        color: $Text-Dark;
        font-size: 3.71rem;
        line-height: 125%;
        letter-spacing: 0.029rem;

        // @media (max-width: $tablet) {
        //     letter-spacing: 0rem;
        // }
    }

    &__img-container {
        display: flex;
        gap: 2.5rem;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            gap: 0.7rem;
        }
    }

    &__column {
        width: 50%;
        display: grid;
        gap: 2.5rem;

        @media (max-width: $tablet) {
            width: 100%;
            gap: 0rem;
        }

    }

    &__img-wrapper {
        overflow: hidden;
        border-radius: 1.25rem;
        cursor: pointer;

        @media (max-width: $tablet) {
            margin: 0.3rem 0;
        }
    }

    // &__img-wrapper-tablet {
    //     @media (max-width: $tablet) {
    //         margin: 0.3rem 0;
    //     }
    // }
    
    &__img {
        border-radius: 1.25rem;

        &:hover {
            transform: scale(0.9);

            @media (max-width: $tablet) {
                transform: scale(1);
            }
        }
    }

    &__img1 {
        background: url(../assets/img/about-1.jpg) 50% / cover no-repeat;
        // height: 36.875rem;

        height: 41.2rem;
        margin: -2.1rem -2.3rem;

        @media (max-width: $tablet) {
            margin: 0rem -0.12rem;
            height: 36.875rem;
            transform: scale(1.05);
        }
    }

    &__img2 {
        background: url(../assets/img/about-2.jpg) 50% / cover no-repeat;
        // height: 26.875rem;

        height: 30rem;
        margin: -1.5rem -2.3rem;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__img3 {
        background: url(../assets/img/about-3.jpg) 50% / cover no-repeat;
        // height: 26.875rem;

        height: 30rem;
        margin: -1.5rem -2.3rem;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__img4 {
        background: url(../assets/img/about-4.jpg) 50% / cover no-repeat;
        // height: 36.875rem;

        height: 41.2rem;
        margin: -2.1rem -2.3rem;

        @media (max-width: $tablet) {
            margin: 0rem -0.12rem;
            height: 36.875rem;
            transform: scale(1.05);
        }
    }
}

.mobile-app {
    display: flex;
    align-items: center;
    gap: 6.25rem;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }

    &__offer {
        width: 50%;
        gap: 2.5rem;
        display: grid;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__title {
        color: $Text-Dark;
        font-size: 3.75rem;
        line-height: 125%;
    }

    &__about {
        color: $Text-Dark;
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__btn-container {
        display: flex;
        gap: 1.25rem;
    }

    &__btn {
        display: flex;
        border-radius: 6.25rem;
        border: 1px solid $Border-Dark;
        background: transparent;
        padding: 0.75rem 1.25rem;
        align-items: center;
        gap: 0.5rem;
        max-width: 12.5rem;
        width: 100%;
        min-width: 11.17rem;
        color: $Text-Dark;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background: $Background-Container;
            color: $Text-Light;
            
            .mobile-app__btn-img-color {
                fill: $Text-Light;
            }
        }
    }

    &__btn-subtitle {
        font-size: 0.625rem;
        line-height: 140%;
    }

    &__btn-title {
        font-size: 1rem;
        line-height: 150%;
    }

    &__btn-img-color {
        fill: $Text-Dark;
    }
    
    &__img {
        background: url(../assets/img/mobile-screens.png) no-repeat;
        width: 50%;
        height: 39.375rem;
        background-size: contain;
        background-position: center;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }
}

.footer {
    border-radius: 2.5rem;
    background: $Background-Container;
    display: flex;
    gap: 6.25rem;
    padding: 6.25rem;
    align-items: center;

    @media (max-width: $tablet) {
        padding: 6.25rem 3.75rem;
        flex-wrap: wrap;
        min-height: 46rem;
    }

    &__offer {
        width: 50%;
        gap: 2.5rem;
        display: grid;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__title {
        color: $Text-Light;
        font-size: 3.75rem;
        line-height: 125%;
    }

    &__socials {
        gap: 0.75rem;
        display: flex;
    }

    &__btn {
        border-radius: 6.25rem;
        border: 1px solid $Border-Light;
        background: transparent;
        width: 3.75rem;
        height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background: $Background-Body;
            border: 1px solid $Background-Body;

            .footer__btn-img {
                stroke: $Text-Dark;
            }
        }
    }

    &__btn-img {
        stroke: $Text-Light;
    }

    &__contacts {
        width: 50%;
        gap: 2.5rem;
        display: flex;
        flex-direction: column;
    }

    &__contacts-title {
        color: $Text-Light;
        font-size: 1.5rem;
        line-height: 125%;
    }

    &__contacts-subtitle {
        gap: 1rem;
        display: grid;
    }

    &__contacts-link {
        height: 1.5rem;
        color: $Text-Light;
        font-size: 1rem;
        line-height: 150%;
        gap: 0.5rem;
        display: flex;
        width: fit-content;
        border-bottom: 0.125rem solid transparent;
        padding-bottom: 1.6rem;
        margin-bottom: -0.09rem;

        &:hover {
            border-bottom: 0.125rem solid $Text-Light;

            .footer__contacts-img {
                stroke: $Text-Light;
            }
        }
    }

    .footer__contacts-img {
        stroke: $Text-Light;
    }
}